<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> {{& main_styles}}
    <title>{{page.title}}</title>
</head>

<body>
    {{> navbar}}
    <div class="jumbotron">
        <div class="container">
            <h1>{{page.title}}</h1>
            {{#if main}}
            <p>{{page.description}}</p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/about" role="button">Узнать больше »</a></p>
            {{else}}
            <blockquote>
                <p>{{page.description}}</p>
            </blockquote>
            <br> 
            {{/if}}
        </div>
    </div>
    <div class="container">
        {{{page.content}}}
    </div>
    {{& main_scripts}}
</body>

</html>